@{
    Layout = "~/Areas/Admin/Views/Shared/_LoginPartial.cshtml";
}

<div id="wrapper">
    <div id="login" class="animate form">
        <section class="login_content">
            <div class="col-md-12 text-center">
            </div>
            <div class="col-md-12 text-center">
                <img class="img-responsive tocenter" src="/images/logo.png"/>
            </div>
            
            <div class="clearfix"></div>
            <form id="form1">
                <h1>Đăng Nhập</h1>
                <div>
                    <input type="text" id="uname" class="form-control validate[required]" placeholder="Tên đăng nhập" />
                </div>
                <div>
                    <input type="password" id="pass" class="form-control validate[required]" placeholder="Mật khẩu" />
                </div>
                <div id="imgLoad"></div>
                <div>
                    <button class="btn btn-default submit" id="log">Đăng nhập</button>
                </div>
            </form>
            <!-- form -->
        </section>
    <!-- content -->
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#log').click(function () {
            $('#form1').validationEngine();
            if ($.trim($('#uname').val()) != '' && $.trim($('#pass').val()) != '') {
                $("#imgLoad").html('<img src="../../images/loading_login.gif" />');

                $.ajax({
                    url: "/Admin/TaiKhoan/login",
                    type: 'POST',
                    contentType: "application/json; charset=utf-8",       
                    data: JSON.stringify({
                        UserName: $.trim($('#uname').val()),
                        Password: $.trim($('#pass').val())
                    }),
                    success: successLoginFunc,
                    error: errorFunc,
                    async: false
                });

                $("#imgLoad").html('');
                return false;
            }
        });
    });

    function successLoginFunc(data) {
        if (data == 1) {
            window.location.href = '/Admin/';
        }
        if (data == 0) {
            alert("Sai tài khoản hoặc mật khẩu!");
        }
        if (data == 2) {
            alert("Xảy ra lỗi trong quá trình thực hiện!");
        }
    }

    function errorFunc() {
        alert('Xảy ra lỗi trong quá trình thực hiện!');
    }
</script>